<!DOCTYPE html>
<html>
<head>
    <title>Login - House Car</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header">
    <h2>🔐 Acesso ao Sistema</h2>
</div>

<form method="POST">

    <div class="campo">
        <label for="usuario">Usuário:</label>
        <input type="text" id="usuario" name="usuario">
    </div>

    <div class="campo">
        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>
    </div>

    <button type="submit">Entrar</button>

</form>

</body>
</html>